# This ignore file must be placed at the root of your git repository to
# prevent unwanted files or folders to be commited. It must be renamed to .gitignore


# Turbo Builder files and folders to ignore
target/
bin/
cache.properties
TurboBuilder-Release.txt


# Operating system common files to ignore
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
thumbs.db