# Turbo Builder files and folders
target/
bin/


# Operating system common files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
thumbs.db


# dependencies
/node_modules
/vendor


# IDEs and editors
/.idea
.project
.classpath
.buildpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json